@{
    Layout = "_LayoutLogin";
}


<div class="text-center">
    <h1 class="display-4">Cida Lanche</h1>



    <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://attachment.outlook.live.net/owa/MSA%3Adouglas-ltda%40hotmail.com.br/service.svc/s/GetAttachmentThumbnail?id=AQMkADAwATMwMAItYWUxYS0zZmUwLTAwAi0wMAoARgAAAwqib2gqJSJEi3SVXxVbcsMHACMti3oGKgBAhIYMct%2FpHMwABUCe%2FxMAAAAjLYt6BioAQISGDHLf6RzMAAVAnxFJAAAAARIAEAAIp9u%2F2PStQqGkBbSC6fEG&thumbnailType=2&isc=1&token=eyJhbGciOiJSUzI1NiIsImtpZCI6IkZBRDY1NDI2MkM2QUYyOTYxQUExRThDQUI3OEZGMUIyNzBFNzA3RTkiLCJ0eXAiOiJKV1QiLCJ4NXQiOiItdFpVSml4cThwWWFvZWpLdDRfeHNuRG5CLWsifQ.eyJvcmlnaW4iOiJodHRwczovL291dGxvb2subGl2ZS5jb20iLCJ1YyI6ImRlNmQ4N2VkMTU4NzRkMmI4YTQ0MGE3NmMwMmVlYWNlIiwidmVyIjoiRXhjaGFuZ2UuQ2FsbGJhY2suVjEiLCJhcHBjdHhzZW5kZXIiOiJPd2FEb3dubG9hZEA4NGRmOWU3Zi1lOWY2LTQwYWYtYjQzNS1hYWFhYWFhYWFhYWEiLCJpc3NyaW5nIjoiV1ciLCJhcHBjdHgiOiJ7XCJtc2V4Y2hwcm90XCI6XCJvd2FcIixcInB1aWRcIjpcIjg0NDQyNzg1MTA4Nzg0MFwiLFwic2NvcGVcIjpcIk93YURvd25sb2FkXCIsXCJvaWRcIjpcIjAwMDMwMDAwLWFlMWEtM2ZlMC0wMDAwLTAwMDAwMDAwMDAwMFwiLFwicHJpbWFyeXNpZFwiOlwiUy0xLTI4MjctMTk2NjA4LTI5MjA5NTU4NzJcIn0iLCJuYmYiOjE2NTUxNzgyNzksImV4cCI6MTY1NTE3ODg3OSwiaXNzIjoiMDAwMDAwMDItMDAwMC0wZmYxLWNlMDAtMDAwMDAwMDAwMDAwQDg0ZGY5ZTdmLWU5ZjYtNDBhZi1iNDM1LWFhYWFhYWFhYWFhYSIsImF1ZCI6IjAwMDAwMDAyLTAwMDAtMGZmMS1jZTAwLTAwMDAwMDAwMDAwMC9hdHRhY2htZW50Lm91dGxvb2subGl2ZS5uZXRAODRkZjllN2YtZTlmNi00MGFmLWI0MzUtYWFhYWFhYWFhYWFhIiwiaGFwcCI6Im93YSJ9.CUx2wtkLCex0iF3pEHqJEcw4ypvrJHLqtaO0VD5hdAeVsv-mLqUC-XowVCT_26vapIsyjVxcGWM8P4K82IFp1lYFXcpTXu7mJ7A1zwP-uceKjd1zZb5oS-MkHvSNl0ji1NbY9GJF7sakHkZ1PvpC3CIb7Fnfs13V4FUdAhmE7eNCvhP7ZTfYI4nX3040VBpcfWADHqdwDUjHC1rtBY5ZiM_cXzVLbI-jEVXiEnBaYX-wppLD7NLLQBacKiPze6b33U4YeotxlJQ7irli9l_klxRsoGl8HjJz-0tvp9Ujsz2D_Blg2JaB2auEJaLcVPXG9zIDn2XnT6IDl1fCYZb-Og&X-OWA-CANARY=4gIwPCVRZUuMt_uunb2OmXAj5JS4TdoYEDE_y--Mvtyt0XbEimgX_cVT73hU_SLaYYpJJ8MT3Wo.&owa=outlook.live.com&scriptVer=20220603005.07&animation=true" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="/login/logar" method="post" >
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="E-mail">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Senha">
      
      @if(!string.IsNullOrEmpty(ViewBag.erro)){
      <div class="alert alert-danger" role="alert">
         @ViewBag.erro
      </div>
      }
      <input type="submit" class="fadeIn fourth" value="Entrar">
    </form>

  </div>
</div>
   
</div>
