@{
  Layout = "_LayoutLogin";
}


<div class="text-center">
  <h1 class="display-4">Cida Lanche</h1>



  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img
          src="https://photos.google.com/search/_tra_/photo/AF1QipN72dxuIItH5k20RgB_twI8zzl7IDx4wzpMOSBc"
          id="icon" alt="Cida Lanche" />
      </div>

      <!-- Login Form -->
      <form action="/login/logar" method="post">
        <input type="email" required="required" id="email" class="fadeIn second" name="email" placeholder="Digite seu E-mail">
        <input type="password" required="required" id="senha" class="fadeIn third" name="senha" placeholder="Digite sua Senha">

        @if (!string.IsNullOrEmpty(ViewBag.erro))
        {
          <div class="alert alert-danger" role="alert">
            @ViewBag.erro
          </div>
        }
        <input type="submit" class="fadeIn fourth" value="Entrar">
      </form>

    </div>
  </div>

</div>
