@model admin_cms.Models.Dominio.Entidades.Administrador

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Administrador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.Partial("FormAdmin")
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

